.container-users {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border: 1px;
  border-style: solid;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%;
}

.input-users {
  height: 50px;
  width: 300px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 17px;
}

.searchButton {
  height: 50px;
  margin-left: 5px;
  padding: 5px;
}