.user-img {
    width: 150px;
    height: auto;
}

.users {
    background-color: aqua;
    padding: 20px;
    border-style: dotted;
    margin: 10px;
    cursor: pointer;
    transition: transform 500ms ease;
}

.users:hover {
    transform: scale(1.02);
    opacity: 0.5;
}

.users-link:link {
    text-decoration: none;
}

.users-link:visited {
    text-decoration: none;
}

.users-link:hover {
    text-decoration: none;
}

.users-link:active {
    text-decoration: none;
}